unity/AudioVisualization/Library/
unity/AudioVisualization/Temp/
unity/AudioVisualization/Logs/
unity/AudioVisualization/Obj/
unity/AudioVisualization/Build/
unity/AudioVisualization/Builds/
unity/AudioVisualization/Uu]ser[Ss]ettings/